# Ignore virtual environment
venv/
env/
*.pyc
*.pyo
__pycache__/
*.log
*.db
instance/
*.sqlite
*.sqlite3

# Ignore system/macOS files
.DS_Store
Thumbs.db

# Ignore PyCharm / VS Code / JetBrains IDE files
.idea/
.vscode/
